#fight-box {
  display: block;
  position: absolute;
  top: 17%;
  left: 25%;
  border-radius: 8px;
  width: 50%;
  height: 50vh;
  color: black;
  padding: 1em;
  .battle-choice {
    width: 100%;
    height: 100%;

    h3 {
      text-align: center;
    }

    .battle-choice-buttons {
      float: left;
      width: 100%;
      display: block;
    }
    .battle-choice-button {
      padding: 5%;
      cursor: pointer;
      color: white;
      font-weight: bold;
      border-radius: 8px;
      &.do-fight {
        float: left;
        background-color: darkolivegreen;
        margin-left: 5%;
        &.disabled {
          background-color: indianred;
        }
      }
      &.do-run {
        float: right;
        background-color: indianred;
        margin-right: 5%;
      }
    }
  }
  &.battle {
    width: 50%;
    height: 50vh;
    top: 10%;
    left: 25%;
    background-color: white;
    z-index: 998;
    border: 4px solid darkred;
    .left-box {
      width: 40%;
      float: left;
    }
    .middle-box {
      float: left;
      width: 20%;

      .fight-sign {
        display: block;
        font-size: 10em;
        text-align: center;
        padding: 5%;
        cursor: pointer;
        color: black;
        font-weight: bold;
        &:hover {
          color: orangered;
        }
        > span {
          font-size: 10%;
          display: block;
          text-align: center;
          width: 100%;
        }
      }

      .item-picker {
        &.fight {
          float:left;
          width: 100%;
          display: block;
          > .item-picker-selected-inventory {
            width: 100%;
            display: block;
            float:left;
          }
          > .item-picker-selected-items {
            display: block;
            width: 100%;
            padding-bottom: 2em;
            > .selected-item {
              display: block;
              width: 45%;
              height: 8vh;
              border: 1px solid gold;
              float: left;
              app-inventory-item {
                .item {
                  width: 70%;
                  height: 6vh;
                }
              }
            }
          }
        }
      }
    }
    .right-box {
      width: 40%;
      float: left;
      .defending {
        background-color: red;
        color: white;
        font-weight: bold;
      }
      .idle {
        background-color: grey;
        color: black;
      }
    }
  }
}
