<div
  id="fight-box"
  [ngClass]="{ 'battle' : playerAndEnemyService.isFightEntitiesPresent() || playerAndEnemyService.isFightActivated() || playerAndEnemyService.isFightPossible() }"
>
  <ng-container *ngIf="playerAndEnemyService.isFightEntitiesPresent()">

    <app-fight-log></app-fight-log>

    <app-fight-results *ngIf="playerAndEnemyService.isFightEntitiesPresent() && !playerAndEnemyService.isFightActivated()"></app-fight-results>

    <div class="left-box">
      <ng-container *ngIf="playerAndEnemyService.isFightEntitiesPresent() && playerAndEnemyService.isFightActivated()">
        <app-fight-entity-box [forEntity]="'player'"></app-fight-entity-box>
      </ng-container>
    </div>

    <div class="middle-box">
      <ng-container *ngIf="playerAndEnemyService.isFightEntitiesPresent() && playerAndEnemyService.isFightActivated()">
        <div class="fight-sign" (click)="playerAndEnemyService.attackEnemy()" *ngIf="playerAndEnemyService.isFightActivated()">⚔<span>ZAÚTOČIT<br />(mezerník)</span></div>
      </ng-container>
      <ng-container *ngIf="playerAndEnemyService.isFightEntitiesPresent() && playerAndEnemyService.isFightActivated()">
        <div class="item-picker fight" *ngIf="playerAndEnemyService.getFightItems().length > 0">
          <div class="item-picker-selected-items">
            <div class="selected-item" *ngFor="let item of this.playerAndEnemyService.getFightItems()">
              <app-inventory-item
                [item]="item"
                [callback]="itemUsed.bind(this)"
              ></app-inventory-item>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="right-box">
      <ng-container *ngIf="playerAndEnemyService.isFightEntitiesPresent() && playerAndEnemyService.isFightActivated()">
        <app-fight-entity-box [forEntity]="'enemy'"></app-fight-entity-box>
      </ng-container>
    </div>

  </ng-container>

  <ng-container *ngIf="playerAndEnemyService.isFightPossible() && (!playerAndEnemyService.isFightEntitiesPresent() && !playerAndEnemyService.isFightActivated())">
    <div class="battle-choice">
      <h3>Nepřítel: {{ playerAndEnemyService.getRoomEnemy(playerAndEnemyService.getActiveRoom()).name }}</h3>
      <app-fight-item-pick></app-fight-item-pick>
      <div class="battle-choice-buttons">
        <span (click)="playerAndEnemyService.doFight()" class="battle-choice-button do-fight" *ngIf="playerAndEnemyService.canStartFight()">BOJOVAT!<br />(mezerník)</span>
        <span (click)="playerAndEnemyService.fleeFight()" class="battle-choice-button do-fight disabled" *ngIf="!playerAndEnemyService.canStartFight()">Už si byl bit dost ... UTÍKEJ!<br />(mezerník)</span>
        <span (click)="playerAndEnemyService.fleeFight()" class="battle-choice-button do-run">UTÉCT!<br />(escape)</span>
      </div>
    </div>
  </ng-container>

</div>
