<!--<span class="enemy" *ngIf="enemy && enemy.position > 0 && enemy.mobType">{{ enemy.mobType }}</span>-->
<!--{{ enemy | json }}-->
<span class="enemy icon" [ngClass]="{'boss': enemy.mobType === 'boss'}" *ngIf="enemy && enemy.mobType && enemy.visibleOnMinimap"></span>
