.enemy {
  position: absolute;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  z-index: 30;
  &.icon {
    background-image: url('/assets/minimap/characters-icons/enemy.png');
    background-repeat: no-repeat;
  }
  &.boss {
    &.icon {
      background-image: url('/assets/minimap/characters-icons/boss.png');
      background-repeat: no-repeat;
    }
  }
}
