<div class="floor-details">
  <h1>Katakomby</h1>
  <h2>Patro: {{ playerAndEnemyService.floor.floor }}</h2>
  <span>Místnost: {{ playerAndEnemyService.getActiveRoom()?.roomIndex }}</span>
  <span>Únava: {{ playerAndEnemyService.player.getValue()?.losts }} / {{ playerAndEnemyService.config.getValue()?.ALLOWED_LOSTS }}</span>
</div>
