.floor-details {
  width: auto;
  position: absolute;
  top: 1vh;
  left: 45vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 1em;
  h1, h2, h3 {
    padding: 0;
    margin: 0;
  }
  span {
    display: block;
  }
}
