<div class="new-level" *ngIf="playerAndEnemyService.player.getValue().newLevel">
  <h2>Nová úrověň!</h2>
  <div>
    Nyní máte k dispozici {{ playerAndEnemyService.player.getValue().freeAbilityPoints }}({{ playerAndEnemyService.tempFreeAbilityPoints?.getValue() }}) bodů k vylepšení svých schopností.
  </div>
  <table>
    <tr>
      <td>Síla <strong>{{ playerAndEnemyService.player.getValue().entityStatistics.strength }}</strong></td>

      <td>
        <strong
          class="boost-stat"
          *ngIf="playerAndEnemyService.newLevelAttributePointsDistribution.strength > 0"
        >+{{ playerAndEnemyService.newLevelAttributePointsDistribution.strength }}</strong>
      </td>

      <td>
        <button
          *ngIf="playerAndEnemyService.isFreeAbilityPoint()"
          (click)="playerAndEnemyService.addPointToPlayerAbility('strength')"
        >+</button>
        <button
          *ngIf="playerAndEnemyService.newLevelAttributePointsDistribution.strength > 0"
          (click)="playerAndEnemyService.removePointToPlayerAbility('strength')"
        >-</button>
      </td>

    </tr>
    <tr>
      <td>Obrana <strong>{{ playerAndEnemyService.player.getValue().entityStatistics.defence }}</strong></td>

      <td>
        <strong
          class="boost-stat"
          *ngIf="playerAndEnemyService.newLevelAttributePointsDistribution.defence > 0"
        >+{{ playerAndEnemyService.newLevelAttributePointsDistribution.defence }}</strong>
      </td>

      <td>
        <button
          *ngIf="playerAndEnemyService.isFreeAbilityPoint()"
          (click)="playerAndEnemyService.addPointToPlayerAbility('defence')"
        >+</button>
        <button
          *ngIf="playerAndEnemyService.newLevelAttributePointsDistribution.defence > 0"
          (click)="playerAndEnemyService.removePointToPlayerAbility('defence')"
        >-</button>
      </td>

    </tr>
    <tr>
      <td>Životaschopnost <strong>{{ playerAndEnemyService.player.getValue().entityStatistics.vitality }}</strong></td>

      <td>
        <strong
          class="boost-stat"
          *ngIf="playerAndEnemyService.newLevelAttributePointsDistribution.vitality > 0"
        >+{{ playerAndEnemyService.newLevelAttributePointsDistribution.vitality }}</strong>
      </td>

      <td>
        <button
          *ngIf="playerAndEnemyService.isFreeAbilityPoint()"
          (click)="playerAndEnemyService.addPointToPlayerAbility('vitality')"
        >+</button>
        <button
          *ngIf="playerAndEnemyService.newLevelAttributePointsDistribution.vitality > 0"
          (click)="playerAndEnemyService.removePointToPlayerAbility('vitality')"
        >-</button>
      </td>

    </tr>
    <tr>
      <td>Obratnost <strong>{{ playerAndEnemyService.player.getValue().entityStatistics.agility }}</strong></td>

      <td>
        <strong
          class="boost-stat"
          *ngIf="playerAndEnemyService.newLevelAttributePointsDistribution.agility > 0"
        >+{{ playerAndEnemyService.newLevelAttributePointsDistribution.agility }}</strong>
      </td>

      <td>
        <button
          *ngIf="playerAndEnemyService.isFreeAbilityPoint()"
          (click)="playerAndEnemyService.addPointToPlayerAbility('agility')"
        >+</button>
        <button
          *ngIf="playerAndEnemyService.newLevelAttributePointsDistribution.agility > 0"
          (click)="playerAndEnemyService.removePointToPlayerAbility('agility')"
        >-</button>
      </td>

    </tr>
    <tr>
      <td>Inteligence <strong>{{ playerAndEnemyService.player.getValue().entityStatistics.intelligence }}</strong></td>

      <td>
        <strong
          class="boost-stat"
          *ngIf="playerAndEnemyService.newLevelAttributePointsDistribution.intelligence > 0"
        >+{{ playerAndEnemyService.newLevelAttributePointsDistribution.intelligence }}</strong>
      </td>

      <td>
        <button
          *ngIf="playerAndEnemyService.isFreeAbilityPoint()"
          (click)="playerAndEnemyService.addPointToPlayerAbility('intelligence')"
        >+</button>
        <button
          *ngIf="playerAndEnemyService.newLevelAttributePointsDistribution.intelligence > 0"
          (click)="playerAndEnemyService.removePointToPlayerAbility('intelligence')"
        >-</button>
      </td>

    </tr>
    <tr>
      <td colspan="3">
      </td>
    </tr>
  </table>
  <button
    class="save-new-attributes"
    *ngIf="canSave()"
    (click)="playerAndEnemyService.saveNewAttributes()"
  >Uložit</button>
</div>
