.new-level {
  position: absolute;
  top: 0;
  left: 40%;
  display: block;
  border: 2px dotted lawngreen;
  background-color: white;
  padding: 8px;
  width: 20%;
  z-index: 999;
  color: black;
  table {
    tr {
      td {
        &:nth-child(2) {
          min-width: 2em;
        }
      }
    }
  }
  .save-new-attributes {
    width: 50%;
    margin-left: 25%;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    padding: 1em;
    border-radius: 8px;
    cursor: pointer;
  }
}
