$texturePacks: '0', '1', '2';
//$roomTexturesIndexes: '0', '1', '2', '3', '4', '5';
$roomTexturesIndexes: '0';

@mixin generateRoomViewTexturePacksClasses($texturePack) {
  @each $textureIndex in $roomTexturesIndexes {
    &.room-view-texture-#{$texturePack}-#{$textureIndex} {
      background-image: url('/assets/room-views/#{$texturePack}/#{$textureIndex}.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}

@mixin generateRoomViewTexturePacks() {
  @each $texturePack in $texturePacks {
    @include generateRoomViewTexturePacksClasses($texturePack);
  }
}

.room-view {
  width: 100%;
  height: 100%;

  @include generateRoomViewTexturePacks();
}
