@mixin getGearClasses() {
  &.kozena-cepice {
    image-rendering: pixelated;
    background-image: url("/assets/armor/kozena-cepice.png");
    background-repeat: no-repeat;

    z-index: 20;
  }
  &.kozene-boty {
    image-rendering: pixelated;
    background-image: url("/assets/armor/kozene-boty.png");
    background-repeat: no-repeat;

    z-index: 20;
  }
  &.kozena-vesta {
    image-rendering: pixelated;
    background-image: url("/assets/armor/kozena-vesta.png");
    background-repeat: no-repeat;

    z-index: 20;
  }
  &.dreveny-stit {
    image-rendering: pixelated;
    background-image: url("/assets/armor/dreveny-stit.png");
    background-repeat: no-repeat;

    z-index: 20;
  }
  &.dreveny-mec {
    image-rendering: pixelated;
    background-image: url("/assets/armor/dreveny-mec.png");
    background-repeat: no-repeat;

    z-index: 20;
  }
  &.kozene-kalhoty {
    image-rendering: pixelated;
    background-image: url("/assets/armor/kozene-kalhoty.png");
    background-repeat: no-repeat;

    z-index: 20;
  }
}

@mixin getGearClassesUpdatesForInventory() {

  &.kozena-cepice {
    width: 100%;
    height: 100%;
    background-position: 0 26px;
    background-size: cover;
    transform: scale(2);

  }
  &.kozene-boty {
    width: 100%;
    height: 100%;
    background-position: 0px -50px;
    background-size: cover;
    transform: scale(2);
  }
  &.kozena-vesta {
    width: 100%;
    height: 100%;
    background-position: 0px -2px;
    background-size: cover;
    transform: scale(1.5);
  }
  &.dreveny-stit {
    width: 100%;
    height: 100%;
    background-position: -17px -4px;
    background-size: cover;
    transform: scale(2);
  }
  &.dreveny-mec {
    width: 100%;
    height: 100%;
    background-position: 22px 0;
    background-size: cover;
    transform: scale(2);
  }
  &.kozene-kalhoty {
    width: 100%;
    height: 100%;
    background-position: 0px -30px;
    background-size: cover;
    transform: scale(1);
  }
}

@mixin getGearClassesForSilueteButtons() {
  &.kozena-cepice {
    width: 32px;
    height: 32px;
    margin-left: 32px;
    cursor: pointer;
    display: block;
    border: 1px solid rgba(204, 204, 204, 0.25);
    &:hover {
      border: 1px solid yellow;
      background-color: rgba(204, 204, 204, 0.2);
    }
  }
  &.kozene-boty {
    width: 32px;
    height: 8px;
    margin-top: 120px;
    margin-left: 32px;
    cursor: pointer;
    display: block;
    border: 1px solid rgba(204, 204, 204, 0.25);
    &:hover {
      border: 1px solid yellow;
      background-color: rgba(204, 204, 204, 0.2);
    }
  }
  &.kozena-vesta {
    width: 32px;
    height: 38px;
    margin-top: 32px;
    margin-left: 32px;
    cursor: pointer;
    display: block;
    border: 1px solid rgba(204, 204, 204, 0.25);
    &:hover {
      border: 1px solid yellow;
      background-color: rgba(204, 204, 204, 0.2);
    }
  }
  &.dreveny-stit {
    width: 32px;
    height: 128px;
    margin-top: 0;
    margin-left: 64px;
    cursor: pointer;
    display: block;
    border: 1px solid rgba(204, 204, 204, 0.25);
    &:hover {
      border: 1px solid yellow;
      background-color: rgba(204, 204, 204, 0.2);
    }
  }
  &.dreveny-mec {
    width: 32px;
    height: 128px;
    margin-top: 0;
    margin-left: 0;
    cursor: pointer;
    display: block;
    border: 1px solid rgba(204, 204, 204, 0.25);
    &:hover {
      border: 1px solid yellow;
      background-color: rgba(204, 204, 204, 0.2);
    }
  }
  &.kozene-kalhoty {
    width: 32px;
    height: 51px;
    margin-top: 70px;
    margin-left: 32px;
    cursor: pointer;
    display: block;
    border: 1px solid rgba(204, 204, 204, 0.25);
    &:hover {
      border: 1px solid yellow;
      background-color: rgba(204, 204, 204, 0.2);
    }
  }
}
