$texturePacks: '1', '2';
$roomTexturesIndexes: '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15';

@mixin generateTextureClassesForTexturePack($texturePack) {
  @each $textureIndex in $roomTexturesIndexes {
    &.texture-#{$textureIndex} {
      background-image: url('/assets/minimap/room-textures/#{$texturePack}/#{$textureIndex}.png');
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
    }
  }
}

@mixin generateDefaultTextureClassesFromAssets() {
  @each $texturePack in $texturePacks {
    @include generateTextureClassesForTexturePack($texturePack);
  }
}

@mixin generateTexturePacksRevealedClasses() {
  @each $texturePack in $texturePacks {
    &.texture-pack-#{$texturePack} {
      @include generateTextureClassesForTexturePack($texturePack);
    }
  }
}

@mixin generateTexturePacksCloakedClasses() {
  @each $texturePack in $texturePacks {
    &.texture-pack-#{$texturePack} {
      background-image: url('/assets/minimap/room-textures/#{$texturePack}/fog.png');
      background-repeat: no-repeat;
    }
  }
}

.room {
  color: black;
  width: 20%;
  height: 100%;
  float: left;
  display: block;
  min-height: 20px;
  min-width: 20px;

  &:not(.revealed) {
    // specific classes for each texture pack
    @include generateTexturePacksCloakedClasses();

  }

  &.revealed {

    // specific classes for each texture pack
    @include generateTexturePacksRevealedClasses();

    // default texture classes for rooms
    @include generateDefaultTextureClassesFromAssets();

  }
}
