<div class="room {{ getMinimapRoomBackground(room) }}{{ getTexturePackClass() }}" [ngClass]="{ 'revealed': room.revealed }">
    <app-minimap-player [playerInRoom]="isPlayerInRoom(room)" [room]="room"></app-minimap-player>
    <app-minimap-enemy [enemy]="playerAndEnemyService.getRoomEnemy(room)"></app-minimap-enemy>
    <app-minimap-item [items]="room.items" *ngIf="room && room.items && room.items.length > 0"></app-minimap-item>
</div>

