.new-item {
  position: absolute;
  top: 13%;
  left: 30%;
  display: block;
  border: 8px dotted crimson;
  background-color: white;
  padding: 8px;
  width: 40%;
  z-index: 999;
  color: black;
  min-height: 20vh;
  text-align: center;
  button {
    padding: 5%;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    background-color: darkolivegreen;
    display: block;
    margin: 1em auto 0;
  }
}
