<div class="new-item" *ngIf="
playerAndEnemyService.haveSomeNewItems()
&& !playerAndEnemyService.isFightEntitiesPresent()
&& !playerAndEnemyService.isFightActivated()
">

  <ng-container *ngIf="playerAndEnemyService.getNewItems().length === 1">
    Našel jsi nový předmět <strong>{{ playerAndEnemyService.getNewItems()[0].name }}</strong>
  </ng-container>

  <ng-container *ngIf="playerAndEnemyService.getNewItems().length > 1">
    Našel jsi nové předměty: <ul>
      <li *ngFor="let item of playerAndEnemyService.getNewItems()">{{ item.name }}</li>
    </ul>
  </ng-container>

  <button (click)="playerAndEnemyService.deleteNewItems()">Zavřít<br />(mezerník)</button>
</div>
