.app-gear-item-gear {
  width: 100%;
  height: 100%;
  border: 1px solid skyblue;
  overflow: hidden;
  text-align: center;
  &.pointer {
    cursor: pointer;
  }
  span {
    //float: left;
    //margin-top: 15%;
    //margin-left: 25%;;
  }
}
