<div (click)="gearClick(gear)" class="app-gear-item-gear" [ngClass]="{ 'pointer': !playerAndEnemyService.isFightActivated() }" title="{{ getGearTitle(gear) }}" *ngIf="gear">
  <span>{{ gear.name }}</span>
  <!--<br />({{ item.item_id }})-->
</div>
