<div class="fight-results">
  <table class="fight-results-table">
    <tr>
      <th></th>
      <th>Zablokováno</th>
      <th>Poškození způsobeno</th>
      <th>Poškození obdrženo</th>
    </tr>
    <tr>
      <td>Hráč</td>
      <td>{{ playerAndEnemyService.getActiveFightEntitiesRemainsFor('enemy').blocked }}</td>
      <td>{{ playerAndEnemyService.getActiveFightEntitiesRemainsFor('player').dealt + playerAndEnemyService.getActiveFightEntitiesRemainsFor('player').blocked }}</td>
<!--      <td>{{ playerAndEnemyService.getEntityHitpoints(playerAndEnemyService.player.getValue().entityStatistics) - playerAndEnemyService.getEntityRemainingHitpoints('player') }}</td>-->
      <td>{{ playerAndEnemyService.getActiveFightEntitiesRemainsFor('enemy').dealt }}</td>
    </tr>
    <tr>
      <td>{{ playerAndEnemyService.getActiveFightEntitiesRemainsFor('enemy').mobType }}</td>
      <td>{{ playerAndEnemyService.getActiveFightEntitiesRemainsFor('player').blocked }}</td>
      <td>{{ playerAndEnemyService.getActiveFightEntitiesRemainsFor('enemy').dealt + playerAndEnemyService.getActiveFightEntitiesRemainsFor('enemy').blocked }}</td>
      <td>{{ playerAndEnemyService.getActiveFightEntitiesRemainsFor('player').dealt }}</td>
      <!--      <td *ngIf="playerAndEnemyService.getActiveFightEnemyRemainsId()">-->
<!--        {{-->
<!--        playerAndEnemyService.getEntityHitpoints(-->
<!--          playerAndEnemyService.getRoomEnemy(playerAndEnemyService.getActiveRoom()).entityStatistics-->
<!--        ) - playerAndEnemyService.getEntityRemainingHitpoints('enemy')-->
<!--        }}-->
<!--      </td>-->
    </tr>
  </table>
  <h2>Výsledek bitky</h2>
  <h3 [ngClass]="{
    'lost': playerAndEnemyService.getFightResult() === 'Hráč byl poražen!',
    'win': playerAndEnemyService.getFightResult() !== 'Hráč byl poražen!'
  }">{{ playerAndEnemyService.getFightResult() }}</h3>
  <div class="xp-gain">
    XP získané za souboj:
    <span>{{ playerAndEnemyService.getActiveFightEntitiesRemainsFor('player').xpGain }}</span>
  </div>
  <button (click)="playerAndEnemyService.endFight()" class="continue-exploring">POKRAČOVAT V PRŮZKUMU<br />(mezerník)</button>
</div>

