.fight-results {
  h2, h3 {
    text-align: center;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 2em;
    &.win {
      color: green;
    }
    &.lost {
      color: red;
    }
  }
  .continue-exploring {
    width: 50%;
    margin-left: 25%;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    padding: 1em;
    border-radius: 8px;
    cursor: pointer;
  }
  .fight-results-table {
    font-size: 1.4em;
    width: 100%;
    border: none;
    border-spacing: unset;
    tr {
      border: none;
      th {
        border: none;
        background-color: #ccc;
        text-align: center;
        font-weight: bold;
        margin: 0;
        padding: 0.5em;
      }
      td {
        &:nth-child(2) {
          color: dodgerblue;
        }
        &:nth-child(3) {
          color: green;
        }
        &:nth-child(4) {
          color: red;
        }
        border: none;
        margin: 0;
        padding: 0.5em;
        font-weight: bold;
        text-align: center;
      }
    }
  }
  .xp-gain {
    font-size: 1.5em;
    text-align: center;
    span {
      font-weight: bold;
    }
    margin-bottom: 1em;
  }
}
