$minimapBackgroundPacks: '1', '2', '3';

@mixin generateMinimapBackgroundsClasses() {
  @each $texturePack in $minimapBackgroundPacks {
    &.background-pack-#{$texturePack} {
      background-image: url('/assets/minimap/minimap-floor-backgrounds/#{$texturePack}/minimap-backgroud.png');
      background-repeat: no-repeat;
      background-size: 100px 80px;
    }
  }
}

.minimap {
  border: 1px solid black;
  display: block;
  width: 102px;
  height: 82px;
  float: right;

  @include generateMinimapBackgroundsClasses();

  .row {
    width: 100%;
    display: block;
  }
}
