<div class="minimap {{ getMinimapBackgroundClass() }}">
  <ng-container *ngFor="let roomRow of playerAndEnemyService.getRowsForRooms()">
    <div class="row">
      <ng-container *ngFor="let room of playerAndEnemyService.getRoomsForRow(roomRow)">
        <app-minimap-room [room]="room"></app-minimap-room>
      </ng-container>
    </div>
  </ng-container>
</div>
