#floor {
  display: block;
  height: 70vh;
  width: calc(100% - 1px);
  .debug {
    position: absolute;
    top: 0;
    left: 40%;
    display: block;
    border: 1px solid orangered;
    background-color: white;
    padding: 8px;
    width: 20%;
    z-index: 1000;
  }
}


