<div id="floor">

  <div class="debug" *ngIf="debug">
    <!--    Aktivni mistnost: <pre>{{ playerAndEnemyService.getActiveRoom() | json }}</pre>-->
    <!--    Aktivni boj: {{ playerAndEnemyService.isFightPossible() }}<br />-->
    <!--    Aktivni boj nepritel: <pre>{{ playerAndEnemyService.getRoomEnemy(playerAndEnemyService.getActiveRoom()) | json }}</pre>-->
    playerAndEnemyService.isFightPossible(): {{ playerAndEnemyService.isFightPossible() }}
    playerAndEnemyService.isFightEntitiesPresent(): {{ playerAndEnemyService.isFightEntitiesPresent() }}
    playerAndEnemyService.isFightActivated(): {{ playerAndEnemyService.isFightActivated() }}
  </div>

  <app-room-view></app-room-view>

  <app-floor-details></app-floor-details>

  <app-new-level></app-new-level>

  <app-fight *ngIf="playerAndEnemyService.isFightPossible()"></app-fight>

  <app-movements-layer *ngIf="!playerAndEnemyService.isFightPossible()"></app-movements-layer>

  <app-new-item></app-new-item>

</div>
