<div id="player-controls">
  <div class="player-xp-progress-bar">
    <div class="player-xp-progress-bar-filled" [ngStyle]="{ 'width': playerAndEnemyService.getPlayerLevelProgressBarWidth() + '%' }"></div>
    <div class="player-xp-progress-bar-xp-info">
      ( {{ playerAndEnemyService.player.getValue().actualXp?.toFixed(1) }} / {{ playerAndEnemyService.player.getValue().xpToNextLevel }} XP )
    </div>
  </div>
  <div class="character">
    <div class="info">
      <h3>Postava: </h3>
      <span>
        Level: <strong>{{ playerAndEnemyService.player.getValue().level }}</strong>
      </span>
      <span>
        Síla: <strong>{{ playerAndEnemyService.player.getValue()?.entityStatistics?.strength }}<strong *ngIf="getGearEffectFor('strength') !== 0">({{ getGearEffectFor('strength') > 0 ? '+' : '-' }}{{ getGearEffectFor('strength') }})</strong></strong>
      </span>
      <span>
        Obrana: <strong>{{ playerAndEnemyService.player.getValue()?.entityStatistics?.defence }}<strong *ngIf="getGearEffectFor('defence') !== 0">({{ getGearEffectFor('defence') > 0 ? '+' : '-' }}{{ getGearEffectFor('defence') }})</strong></strong>
      </span>
      <span>
        Životaschopnost: <strong>{{ playerAndEnemyService.player.getValue()?.entityStatistics?.vitality }}<strong *ngIf="getGearEffectFor('vitality') !== 0">({{ getGearEffectFor('vitality') > 0 ? '+' : '-' }}{{ getGearEffectFor('vitality') }})</strong></strong>
      </span>
      <span>
        Inteligence: <strong>{{ playerAndEnemyService.player.getValue()?.entityStatistics?.intelligence }}<strong *ngIf="getGearEffectFor('intelligence') !== 0">({{ getGearEffectFor('intelligence') > 0 ? '+' : '-' }}{{ getGearEffectFor('intelligence') }})</strong></strong>
      </span>
      <span>
        Obratnost: <strong>{{ playerAndEnemyService.player.getValue()?.entityStatistics?.agility }}<strong *ngIf="getGearEffectFor('agility') !== 0">({{ getGearEffectFor('agility') > 0 ? '+' : '-' }}{{ getGearEffectFor('agility') }})</strong></strong>
      </span>
<!--      <span>-->
<!--        Schopnosti: <strong>{{ playerAndEnemyService.player.getValue()?.entityStatistics?.agility }}</strong>-->
<!--      </span>-->
      <span class="no-border" *ngIf="playerAndEnemyService.showResetFloorButton()">
        <button (click)="playerAndEnemyService.resetFloor()" class="logout-button">Reset patra</button>
      </span>
    </div>
    <div class="gear">

      <div class="equipped {{ getHelmetTextureClass() }}" *ngIf="hasHelmet()"></div>
      <div class="unequip {{ getHelmetTextureClass() }}" *ngIf="hasHelmet()" (click)="itemClickedInPlayerControls(getHelmet())"></div>

      <div class="equipped  {{ getChestPlateTextureClass() }}" *ngIf="hasChestPlate()"></div>
      <div class="unequip  {{ getChestPlateTextureClass() }}" *ngIf="hasChestPlate()" (click)="itemClickedInPlayerControls(getChestPlate())"></div>

      <div class="equipped  {{ getBootsTextureClass() }}" *ngIf="hasBoots()"></div>
      <div class="unequip  {{ getBootsTextureClass() }}" *ngIf="hasBoots()" (click)="itemClickedInPlayerControls(getBoots())"></div>

      <div class="equipped  {{ getLeggingsTextureClass() }}" *ngIf="hasLeggings()"></div>
      <div class="unequip  {{ getLeggingsTextureClass() }}" *ngIf="hasLeggings()" (click)="itemClickedInPlayerControls(getLeggings())"></div>

      <div class="equipped  {{ getSwordTextureClass() }}" *ngIf="hasSword()"></div>
      <div class="unequip  {{ getSwordTextureClass() }}" *ngIf="hasSword()" (click)="itemClickedInPlayerControls(getSword())"></div>

      <div class="equipped  {{ getShieldTextureClass() }}" *ngIf="hasShield()"></div>
      <div class="unequip  {{ getShieldTextureClass() }}" *ngIf="hasShield()" (click)="itemClickedInPlayerControls(getShield())"></div>

    </div>
    <app-inventory
      [callback]="itemClickedInPlayerControls"
    ></app-inventory>
  </div>
</div>
