@import "src/assets/armor/gear";

#player-controls {
  display: block;
  height: 25vh;
  width: calc(100% - 1px);

  .player-xp-progress-bar {
    background-color: navajowhite;
    width: 100%;
    height: 2em;
    display: block;
    float: left;
    .player-xp-progress-bar-xp-info {
      font-size: 1em;
      text-align: center;
      font-weight: bold;
      margin-top: 0.4em;
      width: calc(100% - 1px);
      position: absolute;
      color: black;
    }
    .player-xp-progress-bar-filled {
      background-color: dodgerblue;
      height: 2em;
      width: 0;
      float: left;
    }
  }

  .character {
    height: 100%;
    .info {
      width: 15%;
      float: left;
      height: 100%;
      padding-right: 1em;
      span {
        display: block;
        margin-bottom: 0.3em;
        border-bottom: 1px solid rgba(204, 204, 204, 0.25);
        font-size: 1em;
        padding: 0.3em;
        &.no-border {
          border: none;
        }
        strong {
          float: right;
          color: teal;
        }
        .logout-button {
          width: 30%;
          padding: 1em;
          background-color: red;
          color: white;
          border-radius: 1em;
          height: 5em;
          cursor: pointer;
        }
      }
    }
    .gear {
      float: right;

      width: 96px;
      height: 128px;

      background-color: rgba(204, 204, 204, 0.1);
      image-rendering: pixelated;
      background-image: url("/assets/armor/silulete.png");
      background-repeat: no-repeat;
      transform: scale(2);

      z-index: 10;

      /* Extra small devices (phones, 600px and down) */
      @media only screen and (max-width: 600px) {
        transform: scale(1);
        margin-top: 7%;
        margin-right: 0;
      }
      /* Small devices (portrait tablets and large phones, 600px and up) */
      @media only screen and (min-width: 600px) and (max-width: 767px) {
        transform: scale(1);
        margin-top: 7%;
        margin-right: 0;
      }
      /* Medium devices (landscape tablets, 768px and up) */
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        transform: scale(1.5);
        margin-top: 7%;
        margin-right: 3%;
      }
      /* Large devices (laptops/desktops, 992px and up) */
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        transform: scale(1.5);
        margin-top: 7%;
        margin-right: 3%;
      }
      /* Extra large devices (large laptops and desktops, 1200px and up) */
      @media only screen and (min-width: 1200px) and (max-width: 1599px) {
        margin-top: 7%;
        margin-right: 4%;
      }
      /* Extra large devices (large laptops and desktops, 1200px and up) */
      @media only screen and (min-width: 1600px) and (max-width: 1919px) {
        margin-top: 5%;
        margin-right: 7%;
      }
      /* Extra large devices (large laptops and desktops, 1200px and up) */
      @media only screen and (min-width: 1920px) {
        margin-top: 5%;
        margin-right: 7%;
      }


      .unequip {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 30;
        @include getGearClassesForSilueteButtons();
      }

      .equipped {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        @include getGearClasses();
      }

      .gear-map {

      }

      /*
      table {
        //width: 100%;
        margin-left: 25%;
        tr {
          td {
            &.gear-item {
              width: 5rem;
              height: 5vh;
              border: 1px solid purple;
              &.helmet {}
              &.weapon {}
              &.chestplate {}
              &.shield {}
              &.leggins {}
              &.boots {}
            }
          }
        }
      }
      */
    }
  }

}
