<app-floor *ngIf="authService.getGapi()?.isSignedIn?.get()"></app-floor>
<app-player-controls *ngIf="authService.getGapi()?.isSignedIn?.get()"></app-player-controls>
<app-login></app-login>
<app-loading-spinner></app-loading-spinner>
