<div id="login" [ngStyle]="{ 'display': (!authService.getGapi()?.isSignedIn?.get() ? 'block' : 'none') }">
  <button class="login-button" #loginRef>
    Login with Google
  </button>
</div>
<div id="user-profile">
  <button class="logout-button" (click)="authService.logout()" *ngIf="authService.getGapi()?.isSignedIn?.get()">
    Logout
  </button>
</div>

