#login {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
  border-radius: 2em;
  .login-button {
    width: 30%;
    padding: 1em;
    background-color: blue;
    color: white;
    margin-left: 35%;
    margin-top: 25%;
    border-radius: 1em;
    height: 5em;
    cursor: pointer;
  }
}
#user-profile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 20em;
  height: 10em;
  .logout-button {
    width: 30%;
    padding: 1em;
    background-color: red;
    color: white;
    border-radius: 1em;
    height: 5em;
    cursor: pointer;
  }
}
