<h2 *ngIf="forEntity === 'enemy'">Nepřítel:</h2>
<h2 *ngIf="forEntity === 'player'">Hráč:</h2>

<table class="stats-table" *ngIf="forEntity !== undefined">
  <tr>
    <td colspan="2">
      <div class="entity-hp-box">
        <div class="entity-hp" [ngStyle]="{ 'width': getEntityHealthbarWidth() + '%' }"></div>
        <div class="entity-hp-info">{{ getEntityRemainingHitpoints() }} / {{ getEntityHitpoints() }}</div>
      </div>
    </td>
  </tr>
  <tr>
    <td>Útok</td>
    <td>{{ getEntityAttack() }}</td>
  </tr>
  <tr>
    <td>Obrana</td>
    <td>{{ getEntityDefense() }}</td>
  </tr>
  <tr>
    <td>Rychlost</td>
    <td>{{ getEntitySpeed() }}</td>
  </tr>
  <tr>
    <td colspan="2">
      IMG
    </td>
  </tr>
</table>
