.stats-table {
  width: 100%;
  padding: 0;
  margin: 0;
  border-spacing: unset;
  tr {
    width: 100%;
    &:not(:first-child) {
      border: 1px dashed slateblue;
      td {
        border: 1px dashed slateblue;
      }
    }
  }
  tr, td {
    padding: 0;
    margin: 0;
  }
  td {
    &:first-child {
      width: 32%;
    }
    &:last-child {
      width: 65%;
    }
    > .entity-hp-box {
      display: block;
      width: 100%;
      height: 1.4em;
      > .entity-hp {
        display: block;
        height: 1.4em;
        background-color: indianred;
      }
      > .entity-hp-info {
        display: block;
        width: 100%;
        margin-top: -1.2em;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}
