.movement {
  display: block;
  position: absolute;
  top: 35%;
  left: 10%;
  width: 80%;
  height: 34vh;
  font-size: 24px;
  font-weight: bold;
  .movement-button {
    display: block;
    border: 1px solid green;
    background-color: green;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
  }
  .go-north-hollow, .go-south-hollow, .go-west-hollow, .go-east-hollow {
    cursor: none;
    border: none;
    background-color: transparent;
  }
  .go-north-hollow {}
  .go-south-hollow {}
  .go-west-hollow {}
  .go-east-hollow {}
  .go-north, .go-north-hollow {
    margin-left: 50%;
    position: absolute;
  }
  .go-south, .go-south-hollow {
    position: absolute;
    margin-top: 32vh;
    margin-left: 50%;
  }
  .go-west, .go-west-hollow {
    position: absolute;
    margin-top: 25vh;
    margin-left: 0;
  }
  .go-east, .go-east-hollow {
    position: absolute;
    margin-top: 25vh;
    margin-left: 98%;
  }
}
