<div class="movement">

  <div class="movement-button go-north-hollow" *ngIf="!playerAndEnemyService.getActiveRoom()?.exitNorth"></div>
  <div class="movement-button go-north" (click)="playerAndEnemyService.go('north')" *ngIf="playerAndEnemyService.getActiveRoom()?.exitNorth">↑</div>

  <div class="movement-button go-south-hollow" *ngIf="!playerAndEnemyService.getActiveRoom()?.exitSouth"></div>
  <div class="movement-button go-south" (click)="playerAndEnemyService.go('south')" *ngIf="playerAndEnemyService.getActiveRoom()?.exitSouth">↓</div>

  <div class="movement-button go-west-hollow" *ngIf="!playerAndEnemyService.getActiveRoom()?.exitWest"></div>
  <div class="movement-button go-west" (click)="playerAndEnemyService.go('west')" *ngIf="playerAndEnemyService.getActiveRoom()?.exitEast">←</div>

  <div class="movement-button go-east-hollow" *ngIf="!playerAndEnemyService.getActiveRoom()?.exitEast"></div>
  <div class="movement-button go-east" (click)="playerAndEnemyService.go('east')" *ngIf="playerAndEnemyService.getActiveRoom()?.exitWest">→</div>

</div>
