<div (click)="itemClick(item)" class="item {{ getItemClass(item) }}" [ngClass]="{ 'pointer': !playerAndEnemyService.isFightActivated() }" title="{{ getItemTitle(item) }}" *ngIf="item">
  <span *ngIf="item.type !== 'gear'">{{ item.name }}</span>
  <div *ngIf="item.type === 'gear'" class="inventory-gear {{ item.texture }}"></div>
  <!--<br />({{ item.item_id }})-->
</div>
