@import "src/assets/armor/gear";

.item {
  float: left;
  width: 64px;
  height: 64px;
  border: 1px solid skyblue;
  overflow: hidden;
  text-align: center;
  padding: 0;
  margin: 1em;
  &.inventory-gear {
    border: 1px solid darkorange;
    &.pointer {
      cursor: pointer;
    }
    &:hover {
      border: 1px solid orange;
      background-color: rgba(204, 204, 204, 0.25);
    }
  }
  &.pointer {
    cursor: pointer;
  }
  span {
    float: left;
    margin-top: 15%;
    margin-left: 25%;
  }
}
.inventory-gear {

  @include getGearClasses();

  @include getGearClassesUpdatesForInventory();

}
