.player {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('/assets/minimap/characters-icons/player.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  z-index: 40;
}
