.loader-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 10000;

  opacity: 0.75;
  background-color: black;
  width: 100%;
  height: 99.8vh;

  .lds-hourglass {
    opacity: 1;
    display: inline-block;
    width: 80px;
    height: 80px;

    position: absolute;
    top: 35%;
    left: 50%;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid red;
    border-color: red transparent red transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }

}
