.item {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 20;
  background-color: gold;
  border-radius: 50px;

  &.icon {
    &.hp-potion {
      background-image: url('/assets/minimap/items-icons/hp-potion.png');
      background-repeat: no-repeat;
      background-size: 20px 20px;
    }
  }


}
