.inventory {
  width: 65%;
  height: 100%;
  border: 4px solid saddlebrown;
  float: left;
  overflow: hidden;
  overflow-y: auto;
  &.picker{
    margin-left: 7%;
    max-height: 11vh;
    overflow: hidden;
    overflow-y: auto;
  }

  .inventory-tab-control {
    list-style: none;
    border-bottom: 4px solid saddlebrown;
    background-color: #333333;
    margin: 0;
    padding: 1rem 2rem 0;

    .inventory-tab-control-button {
      cursor: pointer;
      display: inline-block;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      padding: 1rem;
      background-color: #666666;
      margin-right: 0.2rem;
      color: black;
      &.active {
        background-color: #999999;
        color: white;
        border-bottom: 2px solid darkorange;
        border-top: 2px solid darkorange;
        box-shadow: 0 0 1rem 0 darkorange inset, 0 0 0 0 darkorange;
      }
      &:not(.active) {
        padding-bottom: 1.11rem;
        padding-top: 0.8rem;
      }
    }
  }
}
