<ng-container *ngIf="playerAndEnemyService.player.getValue().items && playerAndEnemyService.player.getValue().items.length > 0">
  <div class="inventory" [ngClass]="{ 'picker': inFightWindow }">
    <ul class="inventory-tab-control" *ngIf="!inFightWindow">
      <li class="inventory-tab-control-button" [ngClass]="{ 'active': show === 'items' }" (click)="show = 'items'">Předměty({{ getOnlyItems().length }})</li>
      <li class="inventory-tab-control-button" [ngClass]="{ 'active': show === 'gear' }" (click)="show = 'gear'">Výbava({{ getOnlyGear().length }})</li>
    </ul>
    <div *ngIf="'items' === show || inFightWindow">
      <app-inventory-item
        *ngFor="let item of getOnlyItems()"
        [item]="item"
        [callback]="callback"
      ></app-inventory-item>
    </div>
    <div *ngIf="'gear' === show && !inFightWindow">
      <app-inventory-item
        *ngFor="let item of getOnlyGear()"
        [item]="item"
        [callback]="callback"
      ></app-inventory-item>
    </div>
  </div>
</ng-container>
