/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: white;
  background-color: black;
  font-family: sans-serif;
}
