.fight-log {
  max-height: 10.25em;
  overflow-x: hidden;
  .fight-log-record {
    margin-bottom: 1em;
    display: block;
    float: left;
    width: 100%;
    strong {
      &.inflicted {
        color: red;
      }
      &.blocked {
        color: dodgerblue;
      }
      &.player {
        color: green;
      }
      &.enemy {
        color: purple;
      }
    }
    h2 {
      margin: 0;
      padding: 0;
    }
    .attack {
      float: left;
      width: 50%;
      text-align: left;
      h3 {
        display: block;
        margin: 0;
        padding: 0;
      }
    }

    .counter-attack {
      float: left;
      width: 50%;
      text-align: right;
      h3 {
        display: block;
        margin: 0;
        padding: 0;
      }
    }

  }
}
