.item-picker {
  float:left;
  width: 100%;
  display: block;
  > .item-picker-selected-inventory {
    width: 100%;
    display: block;
    float:left;
  }
  > .item-picker-selected-items {
    display: block;
    width: 100%;
    float: left;
    padding-bottom: 2em;
    > .selected-item {
      display: block;
      width: 11.3%;
      height: 11vh;
      border: 1px solid gold;
      app-inventory-item {
        .item {
          width: 77%;
        }
      }
      &.first {
        float: left;
      }
      &.second {
        float: right;
      }
    }
  }
}
