<div *ngIf="playerAndEnemyService.player.getValue().items.length > 0 || this.firstSelectedItem || this.secondSelectedItem" class="item-picker">
  <div class="item-picker-selected-items">
    <span class="selected-item first">
      <app-inventory-item [callback]="selectedItemClickedInFight.bind(this)" [item]="firstSelectedItem" *ngIf="firstSelectedItem"></app-inventory-item>
    </span>
    <div class="item-picker-selected-inventory">
      <app-inventory
        [inFightWindow]="true"
        [callback]="itemClickedInFight.bind(this)"
      ></app-inventory>
    </div>
    <span class="selected-item second">
      <app-inventory-item [callback]="selectedItemClickedInFight.bind(this)" [item]="secondSelectedItem" *ngIf="secondSelectedItem"></app-inventory-item>
    </span>
  </div>
</div>
